<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <div id="head">
        <h1><%= title %></h1>
      </div>
      <div id="main">
        <div id="circle"></div>
        <button id="startButton">はじめる</button>
      </div>
    </div>
    <audio src="/audio/count1.mp3" id="count1"></audio>
    <audio src="/audio/count2.mp3" id="count2"></audio>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
